<div class="container" *ngFor="let wine of wines">
  <h3>{{wine.name}} <small class="text-muted">{{wine.producer?.name}}</small></h3>
  <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">Beschreibung</a>
      </li>
      <li class="nav-item" *ngIf="wine.labelFileName">
        <a class="nav-link" id="image-tab" data-toggle="tab" href="#image" role="tab" aria-controls="image" aria-selected="false">Bild</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
        <p style="white-space: pre-line;">{{wine.description}}</p>
        <p *ngIf="wine.blend">{{wine.blend.name}}</p>
        <p *ngIf="wine.category">{{wine.category.color}}, {{wine.category.name}}</p>
        <p>
          <span *ngIf="wine.vintage"><em>Jahrgang:</em> {{wine.vintage}}, </span>
          <span *ngIf="wine.goodFrom && wine.goodTo"><em>Trinkreif</em>: {{wine.goodFrom}}-{{wine.goodTo}}, </span>
          <span *ngIf="wine.price"><em>Preis</em>: {{wine.price}} Fr.</span>
        </p>
    </div>
    <div class="tab-pane fade" id="image" role="tabpanel" aria-labelledby="image-tab" *ngIf="wine.labelFileName">
      <img [src]="labelEndpoint + '?label=' + wine.labelFileName" />
    </div>
   </div>
  <table class="table table-sm">
    <thead>
      <tr>
        <th>Code</th>
        <th>Grösse</th>
        <th>Status</th>
        <th>Rein</th>
        <th>Raus</th>
        <th>Bewertung</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bottle of wine.bottles" [ngClass]="{'table-warning': code === bottle.code}">
        <td>{{bottle.code}}</td>
        <td>{{bottle.size}}</td>
        <td>{{bottle.state.name}}</td>
        <td>{{bottle.checkin | date:'dd.MM.yy'}}</td>
        <td>{{bottle.checkout | date:'dd.MM.yy'}}</td>
        <td *ngIf="AVAILABLE_STATES.includes(bottle.state.id); else rating"><a [routerLink]="['/checkout', bottle.code]">Checkout</a></td>
        <ng-template #rating>
          <td>{{bottle.rating | emojirating}}</td>
        </ng-template>
      </tr>
    </tbody>
  </table>
</div>
