<div class="row" *ngFor="let wine of wines">
  <div class="col-sm-6">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{wine.name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{wine.producer?.name}}</h6>
        <p class="card-text">
          <span *ngIf="wine.vintage"><em>Jahrgang:</em> {{wine.vintage}}, </span>
          <span *ngIf="wine.goodFrom && wine.goodTo"><em>Trinkreif</em>: {{wine.goodFrom}}-{{wine.goodTo}}, </span>
          <span *ngIf="wine.price"><em>Preis</em>: {{wine.price}} Fr.</span>
        </p>
      </div>
      <div class="card-footer">
        <a [routerLink]="['/wines/', wine.id]" class="card-link">Details</a>
      </div>
    </div>
  </div>
</div>
